:root {
  --primary-color: #f24236;
  --muted-text-color: #667085;
  --background-color: #f5f6f8;
  --white-color: #fff;
  --border-color: #e8eaec;
  --highlight-bg: rgba(242, 66, 54, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
body {
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #344054;
  background-color: var(--white-color);
  max-width: 480px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 12px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
button,
a,
input,
textarea,
select {
  outline: none;
}

button:focus-visible,
a:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}
.active {
  font-size: 13px;
  color: var(--primary-color);
}
:root {
}
/* header start */
header {
  padding: 0 16px;
}
.header-top {
  display: flex;
  align-items: center;
  padding: 12px 0;
  gap: 0 13px;
}
.burgerMenu {
  width: 24px;
  height: 24px;
}
.burgerMenu img {
  width: 100%;
  height: 100%;
}
.search {
  display: flex;
  flex-grow: 100;
  gap: 0 6px;
  background-color: var(--background-color);
  padding: 8px 16px;
  border-radius: 8px;
}
.search input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
}
.breadcrumb {
  margin-bottom: 6px;
}
.breadcrumb ul {
  display: flex;
  list-style: none;
  gap: 8px;
}

.breadcrumb li {
  position: relative;
  cursor: pointer;
}

.breadcrumb li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url(./image/svg/arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 8px;
}

.breadcrumb a {
  text-decoration: none;
  color: var(--muted-text-color);
}

.breadcrumb a:hover {
  text-decoration: underline;
}
.breadcrumb ul .active {
  color: var(--primary-color);
}
.tabs {
  display: flex;
  justify-content: space-between;
}
.tabs .tab {
  border-bottom: 1px solid transparent;
  padding: 12px 0;
  cursor: pointer;
  font-size: 14px;
}
.tabs .tab.active {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
/* header end */
/* slider start */
main {
  background-color: var(--background-color);
  padding-top: 14px;
}
.splide {
  margin: 0 16px 14px;
}
.splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  padding: 15px;
  background: var(--white-color);
  border-radius: 8px;
  min-height: 50px;
  position: relative;
}
.splide__slide .like {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.splide__pagination__page.is-active {
  background-color: var(--primary-color);
}
/* slider end */
/* productInfo Start */
.bgWhite {
  padding: 16px;
  background-color: var(--white-color);
  margin-bottom: 12px;
  border-radius: 8px;
}
.productInfo h3 {
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 8px;
}
.productStatusWrapper {
  display: flex;
  gap: 0 16px;
  margin-bottom: 16px;
}
.productStatus {
  padding: 4px 12px;
  font-size: 13px;
  line-height: 124%;
  background-color: var(--highlight-bg);
  color: var(--primary-color);
  border-radius: 24px;
}
.productPrice {
  font-size: 22px;
  color: var(--primary-color);
  line-height: 126%;
  margin-bottom: 16px;
}
.clarifyProduct {
  display: flex;
  gap: 0 8px;
}
.clarifyProduct button:nth-child(1) {
  flex-grow: 100;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 8px;
}
.message {
  width: 56px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight-bg);
  border-radius: 8px;
}
/* productInfo End */
/* Description Start */

h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
.description p {
  font-size: 13px;
  line-height: 133%;
  margin-bottom: 17px;
}
.showAll {
  display: flex;
  gap: 0 14px;
  align-items: center;
}
.showAll span {
  color: #2d47a3;
  font-size: 13px;
  line-height: 123%;
}
/* Description end */
/* Characteristics start*/
.characteristics {
  background-color: var(--white-color);
  padding: 16px 0;
  border-radius: 8px;
  margin-bottom: 12px;
}

.characteristics h4 {
  padding: 0 16px;
}

.characteristics ol {
  margin-bottom: 16px;
  max-height: 150px; /* Ограничение высоты */
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.characteristics ol.expanded {
  max-height: none; /* При раскрытии */
}

.characteristics ol li {
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
}

.characteristics ol li:nth-child(odd) {
  background-color: #f6f8f9;
}

.characteristics ol li:nth-child(even) {
  background-color: var(--white-color);
}

.characteristics .showAll {
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.characteristics .showAll img {
  transition: transform 0.3s ease-in-out;
}

.characteristics .showAll.active img {
  transform: rotate(180deg);
}

/* Characteristics end*/
/* paymentMethod and deliveryMethod start*/
.paymentMethod {
  margin-bottom: 12px;
}

.paymentMethod ol {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
  max-height: 96px; /* Показываем только 3 элемента */
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.paymentMethod ol.expanded {
  max-height: 500px; 
}

.showAll {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.showAll img {
  transition: transform 0.3s ease;
}

.showAll.expanded img {
  transform: rotate(180deg);
}

/* paymentMethod and deliveryMethod end */
/* Salesman start */
.salesman__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.salesman .header .active {
  cursor: pointer;
}
.salesman .adress {
  display: flex;
  gap: 0 12px;
  align-items: center;
  margin-bottom: 14px;
}
.salesman .adress .img {
  width: 80px;
  height: 56px;
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.salesman .adress div:nth-child(2) {
  display: flex;
  flex-direction: column;
}
.title {
  font-weight: 700;
  font-size: 15px;
}
.subtitle {
  font-size: 15px;
  color: var(--border-color);
}
.salesman__Info ol {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin-bottom: 14px;
}
.salesman__Info ol li {
  display: flex;
}
.salesman__Info ol li img {
  margin-right: 12px;
}
.salesman__Info ol li p span {
  margin-left: 8px;
}
.salesman__Info__btns {
  display: flex;
  justify-content: space-between;
  gap: 0 8px;
}
.salesman__Info__btns button {
  padding: 8px 0;
  flex-grow: 1;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 170%;
  background-color: var(--highlight-bg);
  color: var(--primary-color);
}
.salesman__Info__btns button:nth-child(1) {
  background-color: var(--primary-color);
  color: var(--white-color);
}
/* Salesman end */
/* similarSalesman start */
.similarSalesman {
  padding: 16px;
}
.similarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.card__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.card {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0 14px;
  border-radius: 8px;
}
.card__image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.card__image .like {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.card__description {
}
.card__description h5 {
  font-weight: 500;
  font-size: 13px;
  line-height: 140%;
  padding: 0 16px;
  margin-bottom: 4px;
}
.card__description span {
  font-size: 12px;
  font-weight: 500;
  color: #129a1b;
  padding: 0 16px;
}

.card__description .yellow {
  color: #fac102;
}
.card__description .red {
  color: var(--primary-color);
}
.card__description h4 {
  color: var(--primary-color);
  padding: 0 16px 8px;
  border-bottom: 1px solid #f6f8f9;
}
.card__description h6 {
  font-size: 14px;
  line-height: 110%;
  font-weight: 500;
  padding: 0 16px;
  margin-bottom: 6px;
}
.card__description span:nth-child(5) {
  color: var(--muted-text-color);
}
/* similarSalesman end */
